
body
{
    font-family:"Courier New";
    font-size:20px;
}

input
{
    font-family:"Courier New";
    font-size:25px;
}

td, tr, img
{
    padding: 0px; margin: 0px; border: none;
}

table
{
    border-collapse: collapse;
}

/*
.grid {
    height:32px;
    width:32px;
}*/

/*
.grid-nope
{
    height:32px;
    width:32px;
    background:transparent url(images/aBlackGrid3.png);
    cursor:pointer;
}*/
/*
.grid-white
{
    height:32px;
    width:32px;
    background-image:url(images/w.png);
    background:url(images/w.png);
    cursor:pointer;
}

.grid-black
{
    height:32px;
    width:32px;
    background-image:url(images/b.png);
    background:url(images/b.png);
    cursor:pointer;
}
*/
.grid-bg
{
    height:32px;
    width:32px;
    background-image:url(images/grid-bg-generic-32x.png);
    background-size:32px 32px;
    
    /*cursor:pointer;*/
}
