body {
}

td, tr, img  
{
    padding: 0px; margin: 0px; border: none;
}
table 
{
    border-collapse: collapse;
}

/*
.grid {
    height:32px;
    width:32px;
}*/

.grid-nope
{
    height:32px;
    width:32px;
    background-image:url(images/aNopeGrid.png);
}

.grid-white
{
    height:32px;
    width:32px;
    background-image:url(images/aWhiteGrid3.png);
}

.grid-nope
{
    height:32px;
    width:32px;
    background-image:url(images/aBlackGrid3.png);
}

.grid-bg 
{
    height:32px;
    width:32px;
    background-image:url(images/aGrid2.png);
    background-size:32px 32px;
}
    